/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Позиционирование кнопок Вход/Регистрация */
.auth-buttons {
    position: absolute;
    top: 10px;  /* Высота от верхнего края */
    right: 10px;  /* Расстояние от правого края */
    display: flex;  /* Расположим кнопки в ряд */
}

.auth-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 0%;
    cursor: pointer;
    font-weight: bold;
}

.auth-button:hover {
    background-color: #333;
}

/* Стили для выпадающего меню */
.welcome-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 60px;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    width: 140px;
    height: 10px;
}

.dropdown-menu button {
    background-color: #d3d3d3; /* Светло-серый фон для кнопки */
    border: none;
    padding: -1px 7px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    width: 50px;
    height: 20px;
    text-align: left;
    border-radius: 4px;
    margin-top: -11px; /* Поднимаем кнопку */
    position: relative;
    top: -6px; /* Поднимаем кнопку вверх */
    left: 0px;
}

.dropdown-menu button:hover {
    background-color: #bcbcbc;
}

/* Показать меню при клике */
.show {
    display: block;
}

/* Основной контент */
.container {
    padding: 20px;
}

.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-card {
    background-color: #333;
    padding: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease; /* Анимация */
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-card h3 {
    margin: 10px 0 0;
    font-size: 16px;
    color: #fff;
}
.movie-card a {
    text-decoration: none;
}


.movie-card:hover {
    transform: scale(1.1); /* Увеличение карточки при наведении */
}

#createLobbyButton,
#joinLobbyButton {
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

#createLobbyButton:hover,
#joinLobbyButton:hover {
    background-color: darkred;
}

#lobbyIdInput {
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    width: 120px;
    margin-top: 20px;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
    color: #f00;
}

.username-highlight {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px; /* для закругленных краев */
    background-color: #3b4b6b; /* цвет фона кнопки */
    color: white; /* цвет текста */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: box-shadow 0.3s ease; /* плавный переход */
}

.username-highlight:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* эффект обводки при наведении */
}

/* Иконка пользователя (можно использовать Font Awesome или другую библиотеку) */
.user-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

#adminPanelButton {
    background-color: #333; /* Замените на желаемый цвет фона */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Отступы */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Размер шрифта */
}

#adminPanelButton:hover {
    background-color: #45a049; /* Цвет фона при наведении */
}